# Node.js
node_modules/
npm-debug.log
yarn-error.log

# TypeScript
/dist/
*.js.map

# Editor directories and files
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Environment variables
.env

# Ignore all JavaScript files except client.js
!*.js
!client.js